name: Build examples for ESP32 boards
on:
  push:
    branches:
      - 'develop'
      - 'master'
  pull_request:
    branches:
      - 'master'
      - 'develop'

jobs:
  build_examples:
    name: Build examples for ESP32 boards
    runs-on: ubuntu-latest
    container: espressif/idf:v5.5.1
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4.1.7

      - name: Build ESP32-DevKit-V4 examples
        run: |
            . /opt/esp/idf/export.sh
            idf.py -C examples/esp32/ESP32-DevKit-V4/hello_world/ build
            idf.py -C examples/esp32/ESP32-DevKit-V4/identify_chip/ build
            idf.py -C examples/esp32/ESP32-DevKit-V4/fw_update/ build

      - name: Build ESP32-S3-DevKitC-1 examples
        run: |
            . /opt/esp/idf/export.sh
            idf.py -C examples/esp32/ESP32-S3-DevKitC-1/hello_world/ build
            idf.py -C examples/esp32/ESP32-S3-DevKitC-1/identify_chip/ build
            idf.py -C examples/esp32/ESP32-S3-DevKitC-1/fw_update/ build